// 色定義
$c-black: #000; // 黒（サイトによっては純黒を使わず、#111や#222などを使うこともある）
$c-black-a10: rgb(0 0 0/ 0.1);
$c-black-a50: rgb(0 0 0/ 0.5);

$c-white: #fff; // 白（原則fffのみ）
$c-white-a10: rgb(255 255 255/ 0.1);
$c-white-a50: rgb(255 255 255/ 0.5);

$c-base: #fff; // ベースカラー。白に近い色を指定することが多い
$c-base-a10: rgb(255 255 255/0.1);
$c-base-a50: rgb(255 255 255/0.5);

$c-primary: #000; // メインカラー。サイトのテーマカラーを指定することが多い
$c-secondary: #000; // サブカラー。メインカラーと組み合わせて使うことが多い
$c-tertiary: #000; // サードカラー。メインカラー、サブカラーと組み合わせて使うことが多い
$c-accent: #000; // アクセントカラー。ポイントで使う色を指定することが多い

$c-gray: #888; // グレー系の基本色

// 各色のバリエーションは末尾に-lightや-darkをつけて定義する

$c-alert: #b80000; // 警告カラー。エラーメッセージや注意喚起に使うことが多い

$c-text: $c-black; // テキストの基本カラー。黒に近い色を指定することが多い
$c-bg: $c-base; // 背景の基本カラー。ベースカラーもしくは白が多い
$c-border: #ddd; // 枠用の基本カラー
$c-disabled: #bbb; // 無効状態のテキストやアイコンの色。
$c-bg-disabled: #e8e8e8; // 無効状態の背景色。
$c-shadow: $c-black-a10; // シャドウ用カラー。

// グラデーションの定義
$c-grad-black-a50: linear-gradient(180deg, transparent 50%, $c-black-a50 100%);
