// PC・SPのリキッドレイアウトの基準となるコンテンツ幅のサイズ
// "_global.scss"で用いる
$vw-sp-min: 300; //SP版最小値：考慮する最小幅
$vw-sp-max: 390; //SP版最大値：SP版デザインのアートボード幅
$vw-pc-min: 768; //PC版最小値：SP <-> PCのブレークポイント
$vw-pc-max: 1280; //PC版最大値：PC版のコンテンツ幅

// 既定の余白
$side-pad-sp: 12; //SP版既定の左右の余白
$side-pad-pc: 24; //PC版既定の左右の余白
