// フォント定義
$f-jp-serif: serif; // 日本語セリフ体
$f-jp-sans: sans-serif; // 日本語サンセリフ体
$f-jp-deco: sans-serif; // 日本語装飾体
$f-en-serif: serif; // 英語セリフ体
$f-en-sans: sans-serif; // 英語サンセリフ体
$f-en-deco: sans-serif; // 英語装飾体
