// z-index 定義用
$z-header: 25;
$z-footer: 20;
$z-hidden: -100;
$z-back-3: -20;
$z-back-2: -15;
$z-back-1: -10;
$z-base: 0;
$z-base-1: 5;
$z-base-2: 10;
$z-front-0: 50;
$z-front-1: 55;
$z-front-2: 60;
$z-top: 100;
