@use '../base/index' as *;
.c-footer {
  display: flex; justify-content: space-between; flex-wrap: wrap; gap: liquid(12);
  padding: liquid(22) liquid(36); color: var(--muted); font-size: liquid(11); border-top: rem(1) solid var(--border);
  a { margin-inline-start: liquid(8); }
  @media (width < 48rem) { padding: liquid(20) liquid(16); }
}
