<footer class="l-footer c-footer">
  <p>画像はサーバーに送信されません。</p>
  <p>Powered by <a href="https://www.visioncortex.org/vtracer/" target="_blank" rel="noopener noreferrer">VTracer</a> <a href="/licenses/vtracer-MIT.txt" target="_blank" rel="noopener noreferrer">ライセンス</a></p>
</footer>
