<div class="l-svg-mask" aria-hidden="true">
  <!-- CSSで色制御するSVG読込 -->
  <svg>
    <defs>
      <symbol id="svg-logo">
        <use href="/svgs/site-logo.svg#symbol" />
      </symbol>
    </defs>
  </svg>
</div><!-- /l-svg-mask -->
